# Ignore directories for building the code.
**/[Bb]uild/*
**/[Bb]uild-*/*
# Build directories of tools.
*/*/[Bb]uild/*
*/*/[Bb]uild-*/*

# Ignore error files and log files.
*.err
*.log

# Ignore files regarding documentation
## Ignore folders created by documentation tool.
doc/html/
doc/latex/

## Ignore files that are created by the make process.
*.pdf
*.dvi
*.ps

## Ignore latex files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.idx
*.ilg
*.ind
*.toc

# Ignore backup files
*~
*.swp

# Ignore object files
*.mod
*.o
*.so
*.x
_*.c
__pycache__

# IDE files
.vscode/

# Ignore version files created by build system.
src/*/*/version.f90

# Ignore macOS system files
.DS_Store

# Ignore files created by the python build system
*.egg-info/
*.msh
**/node_modules/
spec/.2DOF_targetIotaAndVolume_000_000000.sp.DF
spec/2DOF_targetIotaAndVolume_000_000000.sp.h5
spec/2DOF_targetIotaAndVolume_000_000000.sp.end
f90wrap_example/build/CMakeFiles/cmake.check_cache
**/tests/output
pauli/doc/#pauli.lyx#
**/bin/*
**/obj/*
neort_golden_record/RUN/*/*.out
neort_golden_record/RUN/*/driftorbit*.in
*.smod
*.png
